<a href="https://colab.research.google.com/github/Demagnate/classlab1/blob/main/SESSION_4_WITH_NILAY_14_FEB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Recap of the previous topics
# Variable work,different data type how to use print statement,type of data type
#Programmes involving cal,computation,arithemetic operation,modular operator.
# concept of key words,they cannot be used as variable name.
# buliding app for coffe shop, bill amount and print result
# how input function can be useful

In [1]:
import keyword
print("Following is the list of keywords in python")
print(keyword.kwlist)
# These keywords cannot be used as varible names

Following is the list of keywords in python
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
# Billing app for coffee shop
# initialize variable
unit_price = 8
order_count = 10
# calculate amount
bill_amount = unit_price*order_count
# print result
print("Bill amount is",bill_amount)

Bill amount is 80

In [4]:
# Billing app for coffee shop
# initialize variable
unit_price = 8
order_count = 10
# calculate amount
bill_amount = unit_price*order_count
# print result
print("The unit price = N",unit_price)
print("The order count =",order_count)
print("The bill amount = N",bill_amount)

The unit price = N 8
The order count = 10
The bill amount = N 80

In [ ]:
# We did input function our previous class
# TODAY CLASS
# TYPES OF VARIABLES
'''
interger value 1,-1,2...,float values:0.1,2.3,string: name variable:"raymond",'''

In [ ]:
# DATA STRUCTURES
# We are going to work on sequential types of data structure
''' Data structure:Type of variable that allow to store and process data.
It allow to delete and modify
A data structure is a specialized way of organizing, storing, and managing data to enable efficient access and modification.
 It defines the relationships between data elements and provides operations for processing them effectively.

Types of Data Structures
Linear Data Structures (Elements arranged sequentially)

Array: Fixed-size collection of elements of the same type.
Linked List: Sequence of nodes, each containing data and a reference to the next node.
Stack: Follows LIFO (Last In, First Out) principle.
Queue: Follows FIFO (First In, First Out) principle.
Non-Linear Data Structures (Elements not in sequence)

Tree: Hierarchical structure with nodes (e.g., Binary Tree, Binary Search Tree).
Graph: Set of vertices (nodes) connected by edges (e.g., Social Network Graph).
Heap: Specialized tree-based structure (e.g., Min-Heap, Max-Heap).
Hash-Based Data Structures

Hash Table / Hash Map: Uses a hashing function to store key-value pairs.
Choosing the Right Data Structure
Efficiency: Based on time and space complexity.
Operations: Search, insert, delete, etc.
Scalability: Suitability for large data handling.'''

In [5]:
# Data structure: string
# string is a data type given to a variable if you are storing any text value inside
name="Raymond"
print(name)

Raymond

In [6]:
second_name='Gorroh'
print(second_name)# initializing sring variable with double or single quotes

Gorroh

In [7]:
full_name=name+" "+second_name
print(full_name)

Raymond Gorroh

In [8]:
f_name=input("enter your first name ")
l_name=input("enter your last name ")
full_name=f_name+" "+l_name
print(full_name)

enter your first name Raymond
enter your last name Gorroh
Raymond Gorroh

In [9]:
name.upper()

'RAYMOND'

In [10]:
country="Nigeria"
country.lower()

'nigeria'

In [11]:
country="Nigeria"
country.upper()

'NIGERIA'

In [12]:
len(country)

7

In [13]:
country="Nigeria"
country.find("N")

0

In [14]:
txt="Lagos is the capital of Nigeria. Nigeria is a beautiful country."
txt.find("Nigeria")

24

In [20]:
txt="Lagos is the capital of Nigeria. Nigeria is a beautiful country." #  Replace function
txt.replace("Nigeria","South Africa")

'Lagos is the capital of South Africa. South Africa is a beautiful country.'

In [15]:
txt="Nigeria is a beautiful country."
txt.replace("Nigeria","South Africa")

'South Africa is a beautiful country.'

In [16]:
txt="nigeria is a beautiful country."
txt.capitalize()

'Nigeria is a beautiful country.'

In [17]:
type(txt)

str

In [18]:
# LIST # Why do we need list
#init. a list
age=[33,44,55,66,11,22,3,45,6]

In [19]:
age

[33, 44, 55, 66, 11, 22, 3, 45, 6]

In [23]:
txt="Lagos is the capital of Nigeria. Nigeria is a beautiful country."
# casefold function turn every world in the sentence to small letters[]
# it is order collection of data,sequential
txt.casefold()
#print(txt)

'lagos is the capital of nigeria. nigeria is a beautiful country.'

In [24]:
# how to access value or ements in a list using index
age=[33,44,55,66,11,22,3,45,6]
age[0]

33

In [25]:
age[2]

55

In [26]:
age[-1]
age[-2]

45

In [27]:
age # to modify the index no.66

[33, 44, 55, 66, 11, 22, 3, 45, 6]

In [28]:
age[3]=61

In [29]:
age

[33, 44, 55, 61, 11, 22, 3, 45, 6]

In [30]:
height=[100.4,128.77,188.6,199.32]
height

[100.4, 128.77, 188.6, 199.32]

In [31]:
names=["nilay","jacob", 'ben','doreen']
names

['nilay', 'jacob', 'ben', 'doreen']

In [32]:
person=["Raymond",33,77.4]
person

['Raymond', 33, 77.4]

In [33]:
print(person[0])

Raymond

In [34]:
len(person)

3

In [35]:
len(age)

9

In [44]:
l=[] # we will cover this in subsequent class
for i in range(1,2000):
  l.append(i)
l
i=0
while i<len(l):
  if l[i]==1555:
    print(1555, "is present at index",i)
  i=i+1

1555 is present at index 1554

In [45]:
lst=[] # This is an empty list but it is still a variable
len(lst)

0

In [46]:
lst.append(23) # appending value into a list
lst

[23]

In [47]:
lst.append(13)
lst

[23, 13]

In [48]:
#list slicing
print(age)

[33, 44, 55, 61, 11, 22, 3, 45, 6]

In [49]:
# T have access to the first four values
print(age[0])
print(age[1])
print(age[2])
print(age[3])

33
44
55
61

In [50]:
len(age)

9

In [51]:
age[0:4] # Getting the index of the first four values

[33, 44, 55, 61]

In [52]:
age.append(99)
age

[33, 44, 55, 61, 11, 22, 3, 45, 6, 99]

In [53]:
age.insert(2,100)# Inserting values,we just inserted 100 in index positon two
age

[33, 44, 100, 55, 61, 11, 22, 3, 45, 6, 99]

In [54]:
age.remove(100) # Removing values, we just removed 100
age

[33, 44, 55, 61, 11, 22, 3, 45, 6, 99]

In [55]:
age.sort() # sorting function arrange values in assending order exept specified

In [56]:
age

[3, 6, 11, 22, 33, 44, 45, 55, 61, 99]

In [57]:
#sorting on the descending order
age.sort(reverse=True)
age

[99, 61, 55, 45, 44, 33, 22, 11, 6, 3]

In [58]:
age[2]=5 # 5 added index position 2
age

[99, 61, 5, 45, 44, 33, 22, 11, 6, 3]

In [59]:
# TASK : Create a list country initialze the with string values such
# Suoth africa,Tanzania,Uganda,Nigeria
# Length,insert new country into by appending,remove,replace a country
country=["South Africa","Tanzania","Uganda","Nigeria"]
country

['South Africa', 'Tanzania', 'Uganda', 'Nigeria']

In [60]:
country.insert(2,"Kenya")
country

['South Africa', 'Tanzania', 'Kenya', 'Uganda', 'Nigeria']

In [61]:
country.remove("Uganda")
country

['South Africa', 'Tanzania', 'Kenya', 'Nigeria']

In [62]:
country.append("Kenya")
country

['South Africa', 'Tanzania', 'Kenya', 'Nigeria', 'Kenya']

In [63]:
len(country)

5

In [64]:
# kNOWLEDGE CHECK

#What will the following code print?
lst = [1, 2, 3, 4, 5]
print(lst[2:4])

[3, 4]

In [65]:
#What is the output of the following code?
lst = [1, 2, 3]
lst.append([4, 5])
print(len(lst))

4

In [ ]:
#Which of the following methods would you use to convert a string to lowercase in ?

In [66]:
#What is the result of the following code snippet?
s = "Hello World"
print(s[6:])

World

In [ ]:
#What does the len() function return when applied to a string? NO. OHARACTERS

In [1]:
#What is the output of the following code?
d = {'a': 1, 'b': 2, 'c': 3}
print(d['b'])

2

In [3]:
#What will the following code print? #ERROR
t = (1, 2, 3)
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [ ]:
#What is the key difference between a list and a tuple in Python?
''' The key difference between a list and a tuple in Python is mutability:

Lists are mutable – You can modify, add, or remove elements after creation.
Tuples are immutable – Once created, their elements cannot be changed.'''

In [ ]:
#How can you create a tuple with a single element in Python?
single_element_tuple = (42,)  # ✅ Tuple with one element
print(type(single_element_tuple))  # Output: <class 'tuple'>

In [4]:
#What is the output of the following code?
t = (1, 2, 3)
print(t[1])

2

In [5]:
#Wha3t will the following code print?
 t = (1, 2, 3)
 t[1] = 4

IndentationError: unexpected indent (<ipython-input-5-8d4d20542f98>, line 2)

In [6]:
#What is the output of the following code?
t = (1, 2, 3)
print(t[1])

2